body {
    background-color: #22272e;
}
h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.indicators {
  display: flex;
  flex-flow: row wrap;
}